* {
    box-sizing: border-box;
    color: #333;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background: #e8e8e8;
    color: #6a7989;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 16px 0;
}

.container {
    padding: 16px;
}

.converter {
    width: 320px;
    margin: 0 auto;
    border: 8px solid #f6f6f6;
    padding: 16px;
}

input, select, textarea {
    padding: 16px;
    border: 1px solid #fff;
    margin: 0;
    outline: 0;
    font-weight: 700;
    color: #999;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

input:active, input:focus, select:active, select:focus, textarea:active, textarea:focus {
    border: 1px solid #fff;
    background-color: #f2f2f2;
}

input:hover, select:hover, textarea:hover {
    box-shadow: 0 0 2px #b3b3b3;
    background-color: #f2f2f2;
    color: #af6cbe;
}

label, select {
    cursor: pointer;
}

.disclaimer-parent {
    display: flex;
    width: 260px;
    margin-top: 20px;
    justify-content: flex-end;
}

.disclaimer {
    text-decoration: underline;
    color: blue;
}

.disclaimer:hover {
    cursor: pointer;
}

#modal {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#modal:empty {
    display: none;
}

#modal > div {
    background-color: white;
    max-width: 300px;
    max-height: 300px;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
}

@media (max-width:767px) {s
    .modal {
        padding: 16px;
        height: 50vh;
    }
}